# Binaries for programs and plugins
main
website
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
node_modules
package-lock.json
website.bin
lilly.panic.log
blog/.obsidian/workspace.json
