@include 'header.html'
<div class="root container">
   <h2>Web Traffic</h2>
   <div class="analytics-container">
      <div id="requests-per-country"></div>
      <div id="twitter-views">
          <h3>Requests via twitter</h3>
          <span id="twitter-view-count" class="view-count"></span>
          <span class="icon twitter-icon">
             <i class="feather icon-twitter"></i>
             <i class="feather icon-eye"></i>
          </span>
      </div>
      <div id="views-per-page-container">
          <h3>Views per page</h3>
          <div id="views-per-page-chart-and-labels-container">
	          <div id="views-page-label"></div>
		      <div id="views-per-page"></div>
	      </div>
      </div>
      <div id="views-per-day-container">
      	<h3>Views per day</h3>
      	<div id="views-per-day-graph-and-labels-container">
      		<div id="views-per-day"></div>
      	</div>
      </div>
   </div>
</div>
@include 'footer.html'
