@include 'header.html'
<div class="grid -top">
   <div class="cell -10of12 content">
      <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
         <h1 style="font-size: 2.9rem">Blog posts</h1>
         <a class="rss-button" href=${rss_feed_url} target="_blank">Subscribe to RSS</a>
      </div>
      <br/>
      <uL>
      @for post in posts
         <li>
            <span>
               <a href="/blog/${post.file_name}">${post.date} - ${post.article_title}</a>
            </span>
         </li>
      @end
      </ul>
   </div>
</div>
@include 'footer.html'
