@include 'header.html'
<div class="grid -top">
   <div class="cell -10of12 content">
      <h1 style="font-size: 2.9rem">Contact info</h1>
      <h3>Email</h3>
      <span>${email}</span>
      <br/>
      <br/>
      <br/>
      <h3>Socials</h3>
      <ul>
         <li><a href=${github} target="_blank">Github</a></li>
         <li><a href=${telegram} target="_blank">Telegram</a></li>
         <li><a href=${discord} target="_blank">Discord</a></li>
      </ul>
   </div>
</div>
@include 'footer.html'
