@include 'header2.html'
<div class="root container">
   <div class="grid -top">
       <div class="box cell">
          <h2 class="digitized-header" style="display:inline;">welcome to tauraamui.website!</h2>
          <p>
             This is my personal website for fun and blogs. This site was heavily inspired by
             many of the different sites on Neocities.org. It was redesigned in July 2025.
          </p>
          <p>
          	I am a software developer. I mostly specialise in TUI based stuff. Current I am mainly
          	working on a Neovim/Helix alternative called "Lilly" (you can find more about it here).
          </p>
       </div>
       <div class="cell -3of12">
          <div class="box">
            <a>Home</a>
            <br>
            <a>About Me</a>
            <br>
            <a>Blog</a>
            <br>
            <a>Github</a>
          </div>
       </div>
   </div>
</div>
</div>
@include 'footer.html'
