@include 'header.html'
<div class="grid -top">
   <div class="cell -3of12 content">
     <img src="/assets/black_wolf_face.png">
     <br />
     <a href="/contact" class="justify-content-center">Contact Me</a>
    </div>
    <div class="cell -9of12 content">
       <h1>Adam Lewis-Stringer</h1>
       <h3>Skills</h3>
       <ul>
          <li>Go, Vlang, Lua</li>
          <li>Backend services + microservice architecture</li>
          <li>Advocate for good testing practices</li>
       </ul>
       <h3>Project Showcase</h3>
       <ul>
          <li>
             <span>
                <a href="https://github.com/tauraamui/lilly" target="_blank">Lilly:</a>
                A TUI text editor designed as an alternative to Neovim
             </span>
          </li>
          <li>
             <span>
                <a href="https://github.com/tauraamui/bubble-note" target="_blank">Bubble Note:</a>
                Cross computer reminder/todo manager for my shell
             </span>
          </li>
          <li>
             <span>
                <a href="https://github.com/tauraamui/bluepanda" target="_blank">BluePanda:</a>
                A NoSQL database based on KVS with an ownership relationship model
             </span>
          </li>
          <li>
             <span>
                <a href="https://github.com/tauraamui/kvs" target="_blank">KVS:</a>
                Go library for easy and very fast storing and loading of structs to BadgerDB
             </span>
          </li>
          <li>
             <span>
                <a href="https://github.com/tauraamui/xerror" target="_blank">xerror:</a>
                Go library for tagging error strings with a `KIND` prefix for easier introspection
             </span>
          </li>
          <li>
             <span>
                <a href="https://github.com/tauraamui/starcloud" target="_blank">starcloud:</a>
                A desktop application/experiement to provide Excelike functionality across an infinite canvas
             </span>
          </li>
          <li>
             <span>
                <a href="https://github.com/tauraamui/website" target="_blank">website:</a>
                This website's code
             </span>
          </li>
       </ul>
       <h3>Links</h3>
       <ul>
          <li><a href="https://github.com/tauraamui" target="_blank">Github</a></li>
       </ul>
    </div>
</div>
</div>
@include 'footer.html'
