<!DOCTYPE html>
<!--
⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢑⠕⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡣⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠐⠀⠀⠀⠁⠀⠀⠁⡀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢀⠂⠀⠀⠂⠈⠀⠁⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢂⡂⠀⠀⠀⠄⠂⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠐⡨⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢢⢀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠈⠀
⠄⠡⢐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠁⠀⠀⠀
⠀⠅⢂⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠀⠀
⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⡀⠀⠀
⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⢀⠀⠀⠐⠀⠀⠀⠀
⠈⡀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀
⠀⡀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⡀⠀⠀⢀⠠⠀
⠀⠄⡐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⢶⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⢤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡀⠀⠄⠀⠀
⢀⡊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠁⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠳⠛⠻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠐⡀⠀⠀
⠕⡌⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠊⢄⠂
⢅⠣⡂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠊
⢊⢎⠔⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢱⠨⡪⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⡀⢀⠀⠀⠀⠀⠀⠀
⢕⢱⢨⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⢑⢔⠕⡅⡂⡂⠀⡀⠀⠀
⢕⢱⢨⠪⡂⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢘⢜⢜⢜⢜⢜⠄⠀⠐⠐⠀
⢅⠇⡎⣊⠢⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢕⢜⢜⢸⢨⢢⠣⡱⠀⡁⢈
⢅⢇⢎⢆⠅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡱⡑⡅⡇⡪⡪⡸⡰⡐⢔
⢕⢕⢱⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⡣⡣⡣⡪⢪⠸⡨⡪⡸⡐
⠕⡅⡇⢕⠡⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⣄⡐⢄⠄⠀⢀⠸⡪⡪⡪⡊⡎⡎⡎⡎⡎
⡪⢪⢸⢨⠨⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⣠⡀⠀⠀⠀⠀⠀⠀⠀⣀⡄⡀⠀⠀⠀⠀⠀⢀⢣⢒⢜⠰⡑⢕⢐⢌⢺⡸⡪⡪⡪⡸⡨⡪⡘
⡪⡪⡢⢣⢑⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣻⡻⠽⣺⣀⣠⡀⣄⣮⠞⢾⣿⠄⠀⠀⠀⠀⠀⠀⠂⡣⡱⡑⡕⢅⢕⠜⡔⡕⡝⡎⡎⡎⡎⡆⢇
⢊⢎⢪⠪⢌⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢷⡅⢈⠁⠉⠈⠁⠉⢁⢼⡞⠀⠀⠀⠀⠀⠀⠀⠀⠨⡪⡊⡎⢆⢣⢱⢑⠜⡜⡜⡜⡜⡜⢜⢌
⡐⡡⡃⢇⠅⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠋⠄⠀⠄⠀⠀⠀⢘⠙⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⠘⠜⡕⡱⡡⡣⡱⡡⡣⡱⡱⢱⠱⣑
⢐⢢⢪⠂⠀⠀⢀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠂⡁⠌⡢⠱⡱⡸⡰⢱⢱⢸⠸⡘⡔
⢈⢊⠂⠂⠀⢀⢐⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⢈⠊⠪⡊⡎⢆⢇⢇⢇⢇⠣
⢀⠀⡀⠂⠀⠐⠌⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠅⢱⠱⡱⡱⣱⢱⢘⠌

wtf are you looking at
-->
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
       <meta charset='UTF-8' name='viewport' content='width=device-width, initial-scale=1.0'>
       <link href="/assets/css/prism.css" rel="stylesheet" type="text/css">
       <link href="/assets/css/hack.css" rel="stylesheet" type="text/css">
       @if ctx.theme_mode == 'dark'
       <link href="/assets/css/dark-grey.css" rel="stylesheet" type="text/css">
       @end
       <link href="/assets/css/resume.css" rel="stylesheet" type="text/css">
       <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">
       <script src="/assets/js/prism.js" async></script>
       <title>${tab_title}</title>
       @if ctx.load_analytics
       @include 'analytics-scripts.html'
       @end
    </head>
   <body class="hack dark-grey">
      <div style="max-width: fit-content; margin: .5em .5em 0 auto; display: flex; flex-direction: row; gap: .5em">
         <form action="/theme/light?redirect=${ctx.req.url}" method="post">
<button
    type="submit"
    @if ctx.theme_mode != 'dark'
    disabled
    @end
    style="display: flex; align-items: center; padding: 8px; border: 1px solid #ccc; border-radius: 4px; background: none;
    @if ctx.theme_mode == 'dark'
    cursor: pointer
    @end
    ">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
        @if ctx.theme_mode == 'dark'
        stroke="#e8e8e8"
        @else
        stroke="#666666"
        @end
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="4"></circle>
        <path d="M12 2v2"></path>
        <path d="M12 20v2"></path>
        <path d="m4.93 4.93 1.41 1.41"></path>
        <path d="m17.66 17.66 1.41 1.41"></path>
        <path d="M2 12h2"></path>
        <path d="M20 12h2"></path>
        <path d="m6.34 17.66-1.41 1.41"></path>
        <path d="m19.07 4.93-1.41 1.41"></path>
    </svg>
</button>
	     </form>
         <form action="/theme/dark?redirect=${ctx.req.url}" method="post">
<button
    type="submit"
    @if ctx.theme_mode == 'dark'
    disabled
    @end
    style="display: flex; align-items: center; padding: 8px; border: 1px solid #2f2f2f; border-radius: 4px; background: #242424;
    @if ctx.theme_mode != 'dark'
    cursor: pointer
    @end
    ">
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
        @if ctx.theme_mode == 'dark'
        stroke="#666666"
        @else
        stroke="#e8e8e8"
        @end
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
    </svg>
</button>
         </form>
      </div>
      <div class="root container">
         <header>
            <nav>
               <a href="/">Home</a>
               <a href="/blog">Blog</a>
               <a href="/contact">Contact</a>
            </nav>
         </header>
         <br/>
         <br/>
         <h1>Resume of Adam Lewis-Stringer</h1>
         <h2>Open Source Leadership</h2>
         <p>Founder and primary maintainer of Lilly, a modern terminal-based text editor written in the V language. The project
         has attracted contributors, of whose PRs I carefully review, whilst staying committed to our end vision for the project.
         The current project homepage lives <a target='_blank' href="https://github.com/tauraamui/lilly">here.</a></p>
         <h3>Key Skills</h3>
         <ul>
         <li>Golang, Lua, V programming languages</li>
         <li>Power user of Linux/macOS/UNIX based OSes</li>
         <li>Excellent communicator</li>
         </ul>
         <h2>Jobs (Past/Present)</h2>
         <p><strong>Novafutur (now Logispin/Logifuture) - Software Engineer</strong>
         (October 2021 - Present)</p>
         <p>High performance data ingestion and processing using Docker, Golang, GCP, K8, Pubsub, Redis, Clickhouse DB, BigQuery, Postgres.</p>
         <p><strong>QMEE - Software Engineer</strong>
         (March 2020 - October 2021)</p>
         <p>Online advertising and paid surveys platform development using Heroku, Docker, Ruby, Golang, React, Redis, and RabbitMQ.</p>
         <p><strong>Kudos - Software Engineer</strong>
         (March 2019 - Feb 2020)</p>
         <p>Research publication platform development using Docker, Golang, Typescript, Angular, and Google Cloud Platform.</p>
         <p><strong>Bright Logic - Software Engineer</strong>
         (2017 - Feb 2019)</p>
         <p>Estate agency software development using .NET and ASP.</p>
         <p><strong>Krome Technologies - Technical Consultant</strong>
         (2015 - 2017)</p>
         <p>Technical support and IT solutions consulting.</p>
         <p><strong>Tech Shed - Technician</strong>
         (2012 - 2015)</p>
         <p>Computer and mobile device repair services</p>	@if ctx.use_giscus
	<script src="https://giscus.app/client.js"
		data-repo="tauraamui/website"
		data-repo-id="R_kgDOKVh17g"
		data-category="Announcements"
		data-category-id="DIC_kwDOKVh17s4CmYMz"
		data-mapping="pathname"
		data-strict="1"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="dark"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async>
	</script>
	@end
	</body>
</html>
