/* mobile view styles */

h1, h2, h3, h4, h5, h6 {
    color: #f781b4;
}

.analytics-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

#requests-per-country {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  font-size: large;

  padding: 10px;
  border: 1px solid #e2e2e2;
}

#requests-per-country ul {
  display: flex;
  flex-wrap: wrap; /* Allow legend items to wrap */
  margin-top: 20px; /* Add some space above the legend */
  margin-bottom: 0;
}

#requests-per-country td {
  color: #1e1e1e;
}

#requests-per-country caption {
  padding-bottom: 1em;
}

#requests-per-country li::after {
  content: '';
}

#views-page-label span {
  display: none;
}

#twitter-views {
  font-size: 3.2rem;
  max-width: 80%;
  margin-right: auto;
  margin-left: 9%;
}

#twitter-views i {
  font-size: 3.2rem;
}

/* desktop view styles */
@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  #requests-per-country {
    flex-direction: row; /* Change to row for desktop */
    max-width: 100%;
  }

  #requests-per-country caption {
    font-size: large;
  }

  #requests-per-country ul {
    margin: auto;
    margin-left: 20px; /* Add space to the left of the legend */
  }

  #twitter-views {
    margin: 0;
  }

  #views-per-page-chart-and-labels-container {
    display: flex;
  }

  #views-page-label {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }

  #views-page-label span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
    margin: 0;
    min-height: 1rem;
    padding-block-end: 2.5px;
    position: relative;
  }

  #views-per-page {
    min-width: 75%;
  }
}
