/* mobile view styles */
#views-per-country {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin: 0 auto;
}

#views-per-country ul {
  display: flex;
  flex-wrap: wrap; /* Allow legend items to wrap */
  margin-top: 10px; /* Add some space above the legend */
  margin-left: 20px; /* Add space to the left of the legend */
}

#views-per-country td {
  color: #1e1e1e;
}

#views-per-country caption {
  padding-bottom: 1em;
}

#views-per-country li::after {
  content: '';
}

/* desktop view styles */
@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  #views-per-country {
    flex-direction: row; /* Change to row for desktop */
    max-width: 94%;
  }

  #views-per-country ul {
    margin: auto;
    margin-left: 20px; /* Add space to the left of the legend */
  }
}
