/* latin rubik*/
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local("Rubik")
        , url("fonts/latin-rubik.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext rubik */
@font-face {
    font-family: 'Rubik Ext';
    font-style: normal;
    font-weight: 400;
    src: local("Rubik")
        , url("fonts/latin-ext-rubik.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin spectral */
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    src: local("Spectral")
        , url("fonts/latin-spectral.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext spectral */
@font-face {
    font-family: 'Spectral Ext';
    font-style: normal;
    font-weight: 400;
    src: local("Spectral Ext")
        , url("fonts/latin-ext-spectral.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

img {
    margin: 10px 0 10px;
    max-width: 100%;
    padding: 3px;
    border: 1px solid #141414;
    box-shadow: 0 0 0 0px #141414,
                0 0 0 8px #141414;
}

code {
    background: #3b3a3a;
}

h1, h2, h3, h4, h5, h6 {
    color: #f781b4;
}

.hack h1 a {
	color: inherit; !important;
}

.hack strong {
    font-size: inherit;
}

.hack blockquote {
	text-wrap: wrap;
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #039be5;
    font-family: 'Roboto', serif;
    font-size: 2.4em;
    font-weight: 100;
}

.hack blockquote p {
    display: inline;
}

.hack blockquote:before, .hack blockquote:after {
    font-family: Calibri;
    color: #039be5;
    font-size: 34px;
    position: inherit;
}

.hack blockquote:before { content: '\201c'; top: .6rem; }
.hack blockquote:after { content: '\201e'; }
.hack blockquote cite { font-size: 90%; text-align:center; top:50%; }
.hack blockquote cite:before { content: ' \2015 '; }

.hack code {
    font-size: inherit;
}

.hack code:after, .hack code:before {
	content: ""
}

.dark-grey pre {
    background-color: #3b3a3a;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1em;
    padding-right: 1em;
}

.dark-grey code, .dark-grey pre code {
    color: #d0c8c6;
}

.root {
    padding: 20px 10px;
    font-size: 1.2rem;
}

.header {
	display: flex;
	align-items: center;
}

.title {
	padding-bottom: 2px !important;
}

.meta {
	display: flex;
	align-items: center;
	color: #ff2e88;
	padding-bottom: 15px;
}

.meta-separator {
	display: inline-block;
	position: relative;
	top: -1px;
	line-height: 1;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.readtime .posttime {
	display: flex;
	align-items: center;
}

.icon {
	vertical-align: middle;
	color: #ff2e88;
    line-height: 1;
}

.icon:not(:last-child) {
	margin-right: 5px;
}

nav {
    font-size: 1.8rem;
}

.hack p, .hack ul {
    font-family: "Rubik";
    font-size: 1.275rem;
}

.hack h1 {
    font-size: 2.2rem;
    word-spacing: -.25em;
}

.hack h2 {
    font-size: 1.9rem;
    word-spacing: -.3em;
}

.hack h3 {
    font-size: 1.6rem;
    word-spacing: -.3em;
    margin-bottom: 0;
    padding-top: 1.5rem;
}

.hack h4 {
    font-size: 1.6rem;
}

.hack h1:after, .hack h2:after, .hack h3:after, .hack h1:before, .hack h2:before, .hack h3:before {
    content: none;
}
