.root {
    padding: 20px 10px;
    font-size: 1.2rem;
}

nav {
    font-size: 1.8rem;
}

.hack h2, .hack h3 {
    font-size: 1.8rem;
}

.hack h1 {
    font-size: 2.2rem;
}

.hack h1::after, h2::after {
    content: none;
}
