.root {
    padding: 20px 10px;
    font-size: 1.2rem;
}

nav {
    font-size: 1.8rem;
}

.hack li {
    padding-bottom: .5rem;
}

.hack h2, .hack h3 {
	word-spacing: -.3em;
    font-size: 1.8rem;
}

.hack h4 {
	word-spacing: -.3em;
    font-size: 1.6rem;
}

.hack h1 {
	word-spacing: -.2em;
    font-size: 2.2rem;
}

.hack h1::after, .hack h2::after {
    content: none;
}

.hack h1:before, .hack h2:before, .hack h3:before {
	content: none;
}
